pkgbase = reflex-bin
	pkgdesc = A local-first, structure-aware code search engine for AI agents
	pkgver = 0.2.10
	pkgrel = 1
	url = https://github.com/reflex-search/reflex
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	provides = reflex
	conflicts = reflex
	source_x86_64 = reflex-bin-0.2.10-x86_64::https://github.com/reflex-search/reflex/releases/download/v0.2.10/rfx-linux-x64
	sha256sums_x86_64 = SKIP
	source_aarch64 = reflex-bin-0.2.10-aarch64::https://github.com/reflex-search/reflex/releases/download/v0.2.10/rfx-linux-arm64
	sha256sums_aarch64 = SKIP

pkgname = reflex-bin
